<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />

    <queries>
        <package android:name="com.google.ar.lens" />
    </queries>

    <application
        android:name=".SnapNSearch"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SnapNSearch.FrostyAura"
        tools:targetApi="31">

        <activity
            android:name=".ui.AboutActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.NoDisplayActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@android:style/Theme.NoDisplay" />

        <activity
            android:name=".ui.TakeScreenshotActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".services.FloatingTileService"
            android:description="@string/tile_floating_subtitle"
            android:enabled="true"
            android:exported="true"
            android:icon="@drawable/ic_snap"
            android:label="@string/tile_floating"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            >
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".services.ScreenshotAccessibilityService"
            android:enabled="true"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            >
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility" />
        </service>
        <service
            android:name=".services.assist.MyVoiceInteractionService"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_VOICE_INTERACTION">
            <meta-data
                android:name="android.voice_interaction"
                android:resource="@xml/interaction_service" />

            <intent-filter>
                <action android:name="android.service.voice.VoiceInteractionService" />
            </intent-filter>
        </service>
        <service
            android:name=".services.assist.MyVoiceInteractionSessionService"
            android:permission="android.permission.BIND_VOICE_INTERACTION" />


        <service
            android:name=".services.BasicForegroundService"
            android:exported="true"
            android:foregroundServiceType="mediaProjection"
            android:permission="android.permission.FOREGROUND_SERVICE"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/tile_label"
            tools:targetApi="q" />
    </application>

</manifest>